/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

   html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

/*
Ivan's css
*/
/* Customisation of the navbar */
.navbar {
    z-index: 2;
}

.bg-bakery {
    background: rgba(0, 0, 0, 0.2);
}

.navbar-dark .navbar-nav .nav-link {
    color:white !important;
    font-family: 'Alegreya', serif;
    letter-spacing: 5px;
    padding: 15px 30px 15px 30px;
    text-transform: uppercase;
    font-size: 15px;
}

.navbar-brand {
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    letter-spacing: 5px;
    padding-bottom: 12px;
}


/* Navbar items fit on smaller screens */
@media (max-width: 768px) { 
    .navbar-dark .navbar-nav .nav-link{
        padding-left: 2px;
        padding-right: 2px;
    }
    .navbar-brand{
        padding-bottom: 0;
    }    
 }
@media (max-width: 1200px) { 
    .navbar-dark .navbar-nav .nav-link{
        letter-spacing: 0px;
    }  
 }

/* End of customisation of navbar */

/* Showcase-one customisation */
#showcase-one {
    background-image: url(../img/bakerydesk.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
    z-index: 1;
}

#showcase__one__element {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%,-50%,0);
}

.showcase-one-title {
    font-family: 'Playfair Display', serif;
    color:white;
    font-size: 6vw;
    letter-spacing: 5px;
}

.showcase-one-title-description {
    color:#ffffff;
    font-family: 'Proxima Nova', Georgia, sans-serif;
    font-size: 2.6vw;
    letter-spacing: 3px;
}

/* Change font size on smaller screens */
@media (max-width: 768px) { 
    .showcase-one-title{
        padding-top: 50px;
        font-size: 55px;
    }
    .showcase-one-title-description{
        margin-top: 30px;
        font-size: 20px;
    }
 }

.btn-menu {
    color: white;
    background: rgba(92, 87, 80, 0.5);
    padding: 20px;
    width: 250px;
    margin-top: 50px;
    text-transform: uppercase;
    font-family: 'Alegreya', serif;
    letter-spacing: 3px;
    border-radius: 0;
}

/* End of customisation of showcase-one */

/* Showcase-two customisation */
#showcase-two {
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #fefdfc;
}

.showcase-two-title {
    font-family: 'Alegreya', serif;
    font-weight: bold;
    /* font-size: 2.5vw; */
    font-size: 50px;
    text-align: center;
    color: #56534c;
    margin-bottom: 0;
}

.showcase-two-title-more {
    font-family: 'Alegreya', serif;
    font-weight: bold;
    text-align: center;
    color: #a47d5e;
    /* font-size: 1vw; */
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.showcase-two-title-description {
    padding: 30px 15px 30px 15px;
    text-align: center;
    color: #7f7c77;
    font-family: 'Proxima Nova', Georgia, sans-serif;
    letter-spacing: 2px;
}

.showcase-two-job {
    font-family: 'Alegreya', serif;
    font-weight: bold;
    text-align: center;
    font-size: 22px;
}

.showcase-two-person {
    font-family: 'Alegreya', serif;
    text-align: center;
    color: #56534c;
    font-size: 22px;
    padding: 10px;
}

#showcase-two-firstname {
    border-top:1px solid #d7d5ca;
    border-bottom:1px solid #d7d5ca;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

#showcase-two-lastname {
    border-top:1px solid #d7d5ca;
    border-bottom:1px solid #d7d5caed;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.cookpic {
    padding-left: 20px;
    padding-right: 20px;
}

/* Cook first and last name fit on smaller screens */
@media (max-width: 768px) { 
    #showcase-two-firstname {
        padding-left: 5px;
        padding-right: 5px;
    }
    
    #showcase-two-lastname {
        padding-left: 5px;
        padding-right: 5px;
    }
    
    .cookpic {
        padding-left: 5px;
        padding-right: 5px;
    }
 }

 .showcase-two-quote {
    padding-top: 30px;
    font-family: 'Dancing Script', cursive;
    font-size: 23px;
    letter-spacing: 5px;
    text-align: center;
    color: #af8c71;
}
.move-quote-left {
    padding-left: 30px;
}
.move-quote-right {
    padding-right: 30px;
}

@media (max-width: 768px) { 
    .fa-quote-left{
        padding-left: 0;
    }
    .fa-quote-right{
        padding-right: 0;
    }

 }

 /* Showcase-two second element (right) customisation */
#showcase__two__element__two {
    padding-top: 30px;
    height: 92%;
    position: relative;
}

.showcase-two-groupone {
    padding-left: 10px;
    padding-right: 10px;
}

.showcase-two-grouptwo {
    padding: 10px;
}

.img-flour {
    width: 100%;
    height: 100%;
    object-fit: cover;
    outline: 4px solid white;
    outline-offset: -10px;
    z-index: 0;
}

.img-egg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    outline: 4px solid white;
    outline-offset: -10px;
    z-index: 0;
}

.img-cake {
    width: 100%;
    height: 100%;
    object-fit: cover;
    outline: 4px solid white;
    outline-offset: -10px;
    z-index: 0;
}

.img-cakestraw {
    width: 100%;
    height: 100%;
    object-fit: cover;
    outline: 4px solid white;
    outline-offset: -10px;
    z-index: 0;
}

.showcase-two-vektor {
    position: absolute;
    z-index: 3;
    width: 50%;
    height: 50%;
    left: 25%;
    top: 30%;
    z-index: 1;
    opacity: 0.9;
}

#showcase-two-vektortext {
    font-family: 'Alegreya', serif;
    color: #c9b176;
    /* font-size: 1.2em; */
    font-size: 25px;
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
}

/* Vektor text change depending on the screen size */
@media (max-width: 575px) { 
    #showcase-two-vektortext{
        font-size: 5vw;
        top: 35%;
    }
 }

@media (min-width: 768px) { 
    #showcase-two-vektortext{
        font-size: 30px;
        left: 48%;
        top: 37%;
    }
 }

@media (min-width: 992px) { 
    #showcase-two-vektortext{
        top: 30%;
        left: 50%;
        font-size: 20px;
    }
 }

@media (min-width: 1200px) { 
    #showcase-two-vektortext{
        top: 40%;
        left: 50%;
        font-size: 25px;
    }
 }


/* End of customisation of showcase-two*/

/* Showcase-three customisation */
#showcase-three {
    background-image: url(../img/pancakebg.png);
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 0;
}

.showcase__three__element__one {
    background-image: url(../img/pancakepic.png);
    background-size: cover;
    background-position: 70% 30%;
    margin-top: 100px;
    margin-bottom: 100px;
    color: white;
    padding-left: 0;
    padding-right: 0;
    position: relative;
    z-index: 0;

    height: 500px;
}

.showcase-three-gradeone {
    padding-top: 150px;
}

.showcase__three__element__two {
    background-color: white;
    background-image: url(../img/img4.png);
    background-repeat: no-repeat;
    background-position: right 5px bottom 5px;

    margin-top: 100px;
    margin-bottom: 100px;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 80px;
    position: relative;
    z-index: 0;

    height: 500px;
}

.showcase-three-title {
    font-family: 'Alegreya', serif;
    font-weight: bold;
    font-size: 50px;
    color: #56534c;
}

.showcase-three-title-more {
    font-family: 'Alegreya', serif;
    font-weight: bold;
    color: #a47d5e;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: -5px;
}

.showcase-three-title-description {
    font-family: 'Proxima Nova', Georgia, sans-serif;
    letter-spacing: 2px;
    color: #56534c;
    padding-top: 20px;
}


@media (max-width: 767px) { 
    .showcase__three__element__one{
        margin-bottom: 0;
    }
    .showcase__three__element__two{
        margin-top: 0;
        
    }
 }

.showcase-three-slidepics {
     display: flex;
     position: absolute;
     bottom: 0;
     padding-bottom: 30px;
     margin-left: -20px;
     
 }

/* Carousel customisation */
.carousel-item {
    height: 500px;
}

.carousel img {
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
}

.movearrow {
    padding-top: 25px;
}

.fa-caret-square-o-left {
    color: #56534c;
}

.fa-caret-square-o-right {
    color: #56534c;
}

.moveslidepc {
    margin-left: -20px;
}

.hideme {
    display: none;
}

.showme {
    visibility: visible;
}

@media (max-width: 992px) { 
    .showcase-three-slidepics{
        padding-bottom: 10px;
    }
    .hideme {
        display: block;
    }
    .showme {
        visibility: hidden;
    }
    .showcase-three-title{
        margin-top: -40px;
    }
}

@media (max-width: 768px) { 
    .showcase-three-slidepics{
        padding-bottom: 30px;
        
    }
}
@media (max-width: 433px) { 
    .showcase-three-slidepics{
        padding-bottom: 22px;
        
    }
    .movearrow {
        padding-top: 20px;
    }
}

@media (max-width: 364px) { 
    .showcase-three-slidepics{
        padding-bottom: 10px;
        
    }
    .movearrow {
        padding-top: 20px;
    }
}



/* Element three - ready in */
.showcase__three__element__three {
    z-index: 3;
    text-align: right;
    margin-top: -600px;
}



.showcase-three-readyin {
    background-image: url(../img/readyinbg.png);
    background-size: cover;
    background-position: center;
    margin-top: -40px;
    margin-right: -60px;
    text-align: center;
    width: 180px;
    height: 180px;
    float: right;

    -moz-box-shadow:    3px 3px 50px 6px #ccc;
    -webkit-box-shadow: 3px 3px 50px 6px #ccc;
    box-shadow:         3px 3px 50px 6px #ccc;

}

.showcase-three-readytextgroup {
    padding-top: 20%;
    font-family: 'Alegreya', serif;
}

.showcase-three-readyintext {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1vw;
    letter-spacing: 2px;
    color: #a47d5e;
    margin-top: -10px;
    
}

.showcase-three-readyinnumber {
    font-weight: bold;
    font-size: 4.2vw;
    color: #dfc691;
    margin-top: -45px;
}

.showcase-three-readyinmin {
    font-size: 1vw;
    color: #979285;
    margin-top: -40px;
}

/* Ready in text - change size depending on the screen */
@media (max-width: 575px) { 
    .showcase-three-readyin {
        margin-right: 0;
        margin-top: -60px;
        width: 120px;
        height: 120px;
    }
    .showcase-three-readyintext {
        margin-top: 0;
        font-size: 12px;
    }
    .showcase-three-readyinnumber {
        margin-top: -35px;
        font-size: 40px;
    }
    .showcase-three-readyinmin {
        margin-top: -30px;
        font-size: 12px;
    }
}

@media (min-width: 576px) { 
    .showcase-three-readyin {
        margin-right: 0;
        margin-top: -60px;
        width: 120px;
        height: 120px;
    }
    .showcase-three-readyintext {
        margin-top: 5px;
        font-size: 1.6vw;
    }
    .showcase-three-readyinnumber {
        margin-top: -35px;
        font-size: 4.8vw;
    }
    .showcase-three-readyinmin {
        margin-top: -35px;
        font-size: 1.6vw;
    }
}

@media (min-width: 768px) { 
    .showcase-three-readyin {
        margin-right: 0;
        margin-top: -50px;
        width: 120px;
        height: 120px;
    }
    .showcase-three-readyintext {
        margin-top: 5px;
        font-size: 1.4vw;
    }
    .showcase-three-readyinnumber {
        margin-top: -35px;
        font-size: 4.6vw;
    }
    .showcase-three-readyinmin {
        margin-top: -35px;
        font-size: 1.4vw;
    }  
}

@media (min-width: 992px) { 
    .showcase-three-readyin {
        margin-right: 0;
        margin-top: -70px;
        width: 140px;
        height: 140px;
    }
    .showcase-three-readyintext {
        margin-top: 5px;
        font-size: 1.2vw;
    }
    .showcase-three-readyinnumber {
        margin-top: -45px;
        font-size: 4.4vw;
    }
    .showcase-three-readyinmin {
        margin-top: -40px;
        font-size: 1.2vw;
    }
}

@media (min-width: 1200px) { 
    .showcase-three-readyin {
        margin-right: -60px;
        width: 180px;
        height: 180px;
    }
    .showcase-three-readyintext {
        margin-top: -10px;
        font-size: 1vw;
    }
    .showcase-three-readyinnumber {
        margin-top: -45px;
        font-size: 4.2vw;
    }
    .showcase-three-readyinmin {
        margin-top: -40px;
        font-size: 1vw;
    }
}

/* End of customisation of showcase-three */

/* Showcase-four customisation */
#showcase-four {
    background-image: url(../img/breakfastbg.png);
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 0;

    height: 100%;
}

.showcase__four__element__one {
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
}

.showcase__four__element__two {

    margin-top: 100px;
    margin-bottom: 100px;
}

/* Remove margins when element one and two collapse */
@media (max-width: 992px) { 
    .showcase__four__element__one {
        margin-bottom: 0;
    }
    
    .showcase__four__element__two {
        margin-top: 0;
    }
}

.showcase-four-menu-title {
    font-family: 'Alegreya', serif;
    font-weight: bold;
    letter-spacing: 2px;
    color: white;
    font-size: 3.3em;
}

.showcase-four-menu-titledescription {
    font-family: 'Alegreya', serif;
    font-weight: bold;
    color: #c8a593;
    font-size: 1.1em;
    text-transform: uppercase;
    margin-top: -35px;
}

.showcase-four-menu-item {
    padding-top: 3em;
    padding-bottom: 3em;
}

.showcase-four-menu {
    font-family: 'Alegreya', serif;
    font-weight: bold;
    color: white;
    font-size: 1.9em;
}

.showcase-four-menu-description {
    font-family: 'Proxima Nova', Georgia, sans-serif;
    color: #c2beba;
    letter-spacing: 1px;
    font-size: 1.2em;
}

.showcase-four-menu-price {
    font-family: 'Alegreya', serif;
    color: #dfc691;
    font-size: 2em;
    letter-spacing: 2px;
    margin-top: 15px;
}

/* Right side paper customisation */
.showcase__four__element__two {
    position: relative;
    z-index: 5;
    height: 750px;
}

.showcase-four-paper-one {
    background-color: #f3f1e9;
    background-image: url(../img/plantbg.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right -250px bottom -100px;
    outline: 2px dashed #9e9c93;
    outline-offset: -12px;

    position: absolute;
    z-index: 4;

    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 80px;
    margin-left: 55px;

    height: 90%;
    width: 500px;
}

.showcase-four-paper-two {
    background-color: #d7d5c5;
    outline: 2px dashed #9e9c93;
    outline-offset: -12px;
    
    position: absolute;
    z-index: 3;

    margin-top: 60px;
    margin-bottom: 20px;
    margin-left: 430px;

    height: 80%;
    width: 150px;
}

.showcase-four-paper-three {
    background-color: #bebbaf;
    outline: 2px dashed #9e9c93;
    outline-offset: -12px;

    position: absolute;
    z-index: 2;

    margin-top: 100px;
    margin-bottom: 20px;
    margin-left: 450px;

    height: 67%;
    width: 150px;
}

/* Change paper size depending on the screen */
@media (max-width: 575px) { 
    .showcase__four__element__two{
        height: 400px;
        margin-left: 0px;
    }
    .showcase-four-paper-one{
        height: 100%;
        width: 300px;
        margin-left: 0;
    }
    .showcase-four-paper-two{
        height: 85%;
        width: 50px;
        margin-left: 275px;
    }
    .showcase-four-paper-three{
        height: 75%;
        width: 50px;
        margin-left: 292px;
        margin-top: 90px;
    }
}

@media (min-width: 576px) { 
    .showcase__four__element__two{
        height: 500px;
        margin-left: 0px;
    }
    .showcase-four-paper-one{
        height: 100%;
        width: 430px;
    }
    .showcase-four-paper-two{
        height: 85%;
        width: 80px;
    }
    .showcase-four-paper-three{
        height: 75%;
        width: 80px;
    }
 }

@media (min-width: 768px) { 
    .showcase__four__element__two{
        height: 500px;
        margin-left: 40px;
    }
    .showcase-four-paper-one{
        height: 100%;
        width: 430px;
    }
    .showcase-four-paper-two{
        height: 85%;
        width: 80px;
    }
    .showcase-four-paper-three{
        height: 75%;
        width: 80px;
    }
 }

@media (min-width: 992px) { 
    .showcase__four__element__two{
        height: 750px;
        margin-left: 0;
    }
    .showcase-four-paper-one{
        margin-left: 15px;
        height: 80%;
        width: 400px;
    }
    .showcase-four-paper-two{
        margin-left: 360px;
        height: 70%;
        width: 80px;
    }
    .showcase-four-paper-three{
        margin-left: 380px;
        height: 57%;
        width: 80px;
    }
 }

@media (min-width: 1234px) { 
    .showcase__four__element__two{
        height: 750px;
        margin-left: 0;
    }
    .showcase-four-paper-one {
        margin-left: 55px;
        height: 90%;
        width: 500px;
    }
    .showcase-four-paper-two {
        margin-left: 430px;
        height: 80%;
        width: 150px;
    }
    .showcase-four-paper-three {
        margin-left: 450px;
        height: 67%;
        width: 150px;
    }
 }

 .showcase-four-paper-intro {
    text-align: center;
    font-family: 'Alegreya', serif;
    font-weight: bold;
 }

 .showcase-four-paper-year {
     text-align: center;
     font-family: 'Alegreya', serif;
     font-weight: bold;
}

.showcase-four-paper-quote {
    font-family: 'Alegreya', serif;
    font-weight: bold;
    color: #56534c;
    text-align: center;
    font-size: 2vw;
    padding-top: 50px;
}

.showcase-four-paper-text {
    font-family: 'Proxima Nova', Georgia, sans-serif;
    font-weight: bold;
    letter-spacing: 1.5px;
    color: #56534c;
    text-align: center;
    font-size: 0.8vw;
    padding-top: 40px;
    line-height: 200%;
}

.btn-read {
    font-family: 'Alegreya', serif;
    font-weight: bold;
    color: #a47d5e;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    width: 200px;
    height: 50px;
    margin-top: 40px;
    background-color: transparent;
    border-radius: 0;
    border: 1px solid #9e9c93;

}

/* Change paper text depending on the screen */
@media (max-width: 419px) { 
    .showcase-four-paper-one {
        padding-top: 20px;
    }

    .showcase-four-paper-quote {
        font-size: 5vw;
        padding-top: 5px;
    }
    
    .showcase-four-paper-text {
        letter-spacing: 1.5px;
        font-size: 3.0vw;
        padding-top: 5px;
    }
    
    .btn-read {
        margin-top: 10px;
        margin-left: -20px;
    }
}

@media (min-width: 420px) { 
    .showcase-four-paper-one {
        padding-top: 40px;
    }

    .showcase-four-paper-quote {
        font-size: 3.3vw;
        padding-top: 0;
    }
    
    .showcase-four-paper-text {
        letter-spacing: 1.5px;
        font-size: 2vw;
        padding-top: 0;
    }
    
    .btn-read {
        margin-top: 20px;
        margin-left: -20px;
    }
}

@media (min-width: 576px) { 
    .showcase-four-paper-quote {
        font-size: 3.5vw;
        padding-top: 30px;
    }
    
    .showcase-four-paper-text {
        letter-spacing: 1.5px;
        font-size: 1.9vw;
        padding-top: 20px;
    }

    .btn-read {
        margin-top: 40px;
        margin-left: 5px;
    }
 }

@media (min-width: 768px) { 
    .showcase-four-paper-quote{
        font-size: 2.7vw;
        padding-top: 20px;
    }
    
    .showcase-four-paper-text {
        letter-spacing: 1.5px;
        font-size: 1.6vw;
        padding-top: 30px;
    }
 }

@media (min-width: 992px) { 
    .showcase-four-paper-quote {
        font-size: 2.8vw;
        padding-top: 50px;
    }
    
    .showcase-four-paper-text {
        letter-spacing: 1.5px;
        font-size: 1.4vw;
        padding-top: 40px;
    }
 }

@media (min-width: 1234px) { 
    .showcase-four-paper-quote {
        font-size: 2vw;
        padding-top: 50px;
    }
    
    .showcase-four-paper-text {
        letter-spacing: 1.5px;
        font-size: 0.8vw;
        padding-top: 40px;
    }
 }
 /* End of customisation of showcase-three */

/* Showcase-five customisation */
#showcase-five {
    background-color: #f3f1e9;
    z-index: 0;

    height: 100%;
}

.showcase-five-title {
    font-family: 'Alegreya', serif;
    font-weight: bold;
    text-align: center;
    color: #56534c;
    font-size: 50px;
    letter-spacing: 1px;
    padding-top: 70px;
    background-image: url(../img/fifthlogo.png);
    background-position: center;
    background-repeat: no-repeat;
}

.showcase-five-titlemore {
    font-family: 'Alegreya', serif;
    font-weight: bold;
    text-align: center;
    color: #a47d5e;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-top: -5px;
    padding-bottom: 30px;
}

.showcase-five-ingredients {
    text-align: center;
}

.showcase-five-ingredient {
    padding-top: 20px;
    padding-bottom: 20px;
}

.showcase-five-ingredient-title {
    font-family: 'Alegreya', serif;
    font-weight: bold;
    color: #a47d5e;
    font-size: 25px;
}

.showcase-five-ingredient-titlemore {
    font-family: 'Proxima Nova', Georgia, sans-serif;
    font-size: 17px;
    letter-spacing: 1px;
    color: #56534c;
}

.showcase-five-meal {
    height: 100%;
}

.img-fifth-main {
    margin-top: 100px;
    -moz-box-shadow:    3px 3px 50px 6px #ccc;
    -webkit-box-shadow: 3px 3px 50px 6px #ccc;
    box-shadow:         3px 3px 50px 6px #ccc;
    z-index: 0;
}

.btn-recipe {
    font-family: 'Alegreya', serif;
    font-weight: bold;
    color: #dfc691;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    width: 150px;
    height: 50px;
    margin-top: -40px;
    margin-left: -20px;
    background-color: white;
    border-radius: 0;
    border: 1px dashed #dfc691;
}



/* Element five - ready in */
.showcase-five-cards {
    text-align: center;
    padding-top: 60px;
    padding-right: 50px;
    z-index: 2;
    margin-top: -750px;
}

.showcase-five-card {
    background-color: rgba(255, 255, 255, 0.8);
    width: 180px;
    height: 180px;
    margin-bottom: 0.7px;
    float: right;
    display: block;
    clear: right;
}

.showcase-five-card-ready {
    background-image: url(../img/readyinbg.png);
    background-size: cover;
    background-position: center;

    text-align: center;
    width: 180px;
    height: 180px;
    margin-top: -0.7px;
    float: right;
    
    display: block;
    clear: right;
}

.showcase-five-card-title { 
    font-family: 'Alegreya', serif;
    font-weight: bold;
    color: #a47d5e;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-top: 10%;
    font-size: 1vw;

}

.showcase-five-card-time {
    font-family: 'Alegreya', serif;
    font-weight: bold;
    color: #56534c;
    font-size: 4.4vw;
    margin-top: -30px;
}

.showcase-five-card-readytime {
    color: #dfc691;
    font-family: 'Alegreya', serif;
    font-weight: bold;
    font-size: 4.4vw;
    margin-top: -30px;
    
}


.showcase-five-card-minute {
    font-family: 'Alegreya', serif;
    font-weight: bold;
    color: #979285;
    
    margin-top: -10px;
}

/* Card change depending on the screen size */
@media (max-width: 374px) { 
    .showcase-five-cards {
        padding-top: 0;
        padding-right: 0;
        margin-top: -320px;
    }
    
    .showcase-five-card {
        width: 100px;
        height: 115px;
        float: left;
        margin-right: 5px;
    }
    
    .showcase-five-card-title { 
        padding-top: 20%;
        font-size: 12px;
    }
    
    .showcase-five-card-time {
        font-size: 35px;
        margin-top: -15px;
    }

    .showcase-five-card-ready {
        width: 100px;
        height: 115px;
        float: left;
    }
    
    .showcase-five-card-readytime {
        font-weight: bold;
        font-size: 35px;
        margin-top: -15px;
    }
 }

@media (min-width: 375px) { 
    .showcase-five-cards {
        padding-top: 0;
        padding-right: 0;
        margin-top: -350px;
        padding-left: 60px;
    }
    
    .showcase-five-card {
        width: 75px;
        height: 100px;
        float: left;
        margin-right: 5px;
    }
    
    .showcase-five-card-title { 
        padding-top: 20%;
        font-size: 12px;
    }
    
    .showcase-five-card-time {
        font-size: 35px;
        margin-top: -15px;
    }

    .showcase-five-card-ready {
        width: 75px;
        height: 100px;
        float: left;
    }
    
    .showcase-five-card-readytime {
        font-weight: bold;
        font-size: 35px;
        margin-top: -15px;
    }
 }


@media (min-width: 768px) { 
    .showcase-five-cards {
        padding-top: 0;
        padding-right: 0;
        margin-top: -550px;
        padding-left: 150px;
    }
    
    .showcase-five-card {
        width: 140px;
        height: 140px;
        float: left;
        margin-right: 5px;
    }
    
    .showcase-five-card-title { 
        padding-top: 20%;
        font-size: 1.5vw;
    }
    
    .showcase-five-card-time {
        font-size: 6vw;
        margin-top: -10px;
    }

    .showcase-five-card-ready {
        width: 140px;
        height: 140px;
        float: left;
        margin-right: 5px;
    }
    
    .showcase-five-card-readytime {
        font-weight: bold;
        font-size: 6vw;
        margin-top: -10px;
    }
 }

@media (min-width: 992px) { 
    .showcase-five-cards {
        padding-top: 60px;
        padding-right: 50px;
        margin-top: -750px;
    }
    
    .showcase-five-card {
        width: 180px;
        height: 180px;
        margin-bottom: 0.7px;
        float: right;
        display: block;
        clear: right;
    }
    
    .showcase-five-card-title { 
        padding-top: 20%;
        font-size: 1.5vw;
    }
    
    .showcase-five-card-time {
        font-size: 7vw;
        margin-top: -30px;
    }

    .showcase-five-card-ready {
        width: 180px;
        height: 180px;
        margin-top: -0.7px;
        float: right;
        display: block;
        clear: right;
    }
    
    .showcase-five-card-readytime {
        font-weight: bold;
        font-size: 7vw;
        margin-top: -30px;
    }
 }

@media (min-width: 1200px) { 
    .showcase-five-cards {
        padding-top: 60px;
        padding-right: 50px;
        margin-top: -750px;
    }
    
    .showcase-five-card {
        width: 180px;
        height: 180px;
        margin-bottom: 0.7px;
        float: right;
        display: block;
        clear: right;
    }
    
    .showcase-five-card-title { 
        padding-top: 10%;
        font-size: 1vw;
    }
    
    .showcase-five-card-time {
        font-size: 4.4vw;
        margin-top: -30px;
    }

    .showcase-five-card-ready {
        width: 180px;
        height: 180px;
        margin-top: -0.7px;
        float: right;
        display: block;
        clear: right;
    }
    
    .showcase-five-card-readytime {
        font-weight: bold;
        font-size: 4.4vw;
        margin-top: -30px;
    }
 }

 /* End of customisation of showcase-five */

/* Footer customisation */
.footer {
    background-color: #f3f1e9;
    padding-top: 30px;
    padding-bottom: 30px;
}
.footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

    display: flex;
    align-items: stretch;
    justify-content: space-between;
    width: 100%;

    
    border-top:1px solid #bfbbb7;
    border-bottom:1px solid #bfbbb7;
}

.footer li {
    float: left;

    display: block;
    flex: 0 1 auto;
    list-style-type: none;
}

.footer li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Alegreya', serif;
    font-weight: bold;
    color: #56534c;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

#footer-brand {
    font-family: 'Dancing Script', cursive;
    letter-spacing: 5px;
}

/* Move li elements under each other when screen is small */
@media (max-width: 992px) { 
    .footer ul {
        display: block;
    }

    .footer li {
        float: none;
    }
 }
 /* End of customisation of footer */